body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-app {
  text-align: center;
}

h2 {
  margin-top: 0;
}

.row {
  margin-top: 20px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.checked {
  background-color: #4caf50;
  color: #fff;
  text-decoration: line-through;
}

img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-left: 5px;
}

li span {
  float: right;
  cursor: pointer;
}

li.checked {
  background-color: #888;
  color: #fff;
}


li span:hover {
  background-color: #ff0000;
  color: white;
}

